[Desktop Entry]
Type=Application
Name=Anything
Comment=File Search Tool
Exec=anything-gui
Icon=io.github.anythingdevelopmentteam.anything
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true
Keywords=search;files;everything;indexer;
